<div class="container">
	<div class="row">
	 	<div class="col-md-2">
			<!-- Sidebar Content -->
			<div class="search">
				<input ng-model="city" placeholder="Enter a City" / >
				<select ng-model="state">
					<option value="">State</option>
					<option value="AL">AL</option>
					<option value="AK">AK</option>
					<option value="AZ">AZ</option>
					<option value="AR">AR</option>
					<option value="CA">CA</option>
					<option value="CO">CO</option>
					<option value="CT">CT</option>
					<option value="DE">DE</option>
					<option value="DC">DC</option>
					<option value="FL">FL</option>
					<option value="GA">GA</option>
					<option value="HI">HI</option>
					<option value="ID">ID</option>
					<option value="IL">IL</option>
					<option value="IN">IN</option>
					<option value="IA">IA</option>
					<option value="KS">KS</option>
					<option value="KY">KY</option>
					<option value="LA">LA</option>
					<option value="ME">ME</option>
					<option value="MD">MD</option>
					<option value="MA">MA</option>
					<option value="MI">MI</option>
					<option value="MN">MN</option>
					<option value="MS">MS</option>
					<option value="MO">MO</option>
					<option value="MT">MT</option>
					<option value="NE">NE</option>
					<option value="NV">NV</option>
					<option value="NH">NH</option>
					<option value="NJ">NJ</option>
					<option value="NM">NM</option>
					<option value="NY">NY</option>
					<option value="NC">NC</option>
					<option value="ND">ND</option>
					<option value="OH">OH</option>
					<option value="OK">OK</option>
					<option value="OR">OR</option>
					<option value="PA">PA</option>
					<option value="RI">RI</option>
					<option value="SC">SC</option>
					<option value="SD">SD</option>
					<option value="TN">TN</option>
					<option value="TX">TX</option>
					<option value="UT">UT</option>
					<option value="VT">VT</option>
					<option value="VA">VA</option>
					<option value="WA">WA</option>
					<option value="WV">WV</option>
					<option value="WI">WI</option>
					<option value="WY">WY</option>
				</select><br>				
				<button ng-click="$ctrl.search(city,state)">Get the Weather</button>
			</div>
		</div>
		<div class="current-div" ng-class="$ctrl.visibility">
			<h2>{{$ctrl.current.display_location.full}}</h2>
			<h3>Current Weather:</h3><br>
			<div class="current">
				<ul class="temp-info">
					<li class="time">Last Updated: {{$ctrl.current.observation_epoch*1000 | date:'shortTime'}}</li>
					<li class="description capitalize">{{$ctrl.current.weather}}</li>
					<i ng-class="$ctrl.currentIcon"></i>
					<li class="temp">{{$ctrl.current.temperature_string}}</li>
   				</ul>
   				<ul class="weather">
   					<li class="humidity">Humdity: {{$ctrl.current.relative_humidity}}</li>
   					<li class="wind">Wind: {{$ctrl.current.wind_mph}} mph</li>
   				</ul>
			</div>
		</div>
		<h3 ng-class="$ctrl.visibility">5 Day Forecast:</h3>
		<div class="forecast-div" ng-class="$ctrl.visibility">
			<div class="forecast" ng-repeat="day in $ctrl.forecast | limitTo:5">
				<ul class="temp-info">
					<li>{{day.date.epoch*1000 | date:"EEEE"}}</p>
       				<li>{{day.date.epoch*1000 | date:"MMM d"}}</p>
					<li class="description capitalize">{{day.conditions}}</li>
   				</ul>
   				<ul class="weather">
   					<li>High: {{day.high.fahrenheit | number:0}}&#8457;</li>
   					<li>Low: {{day.low.fahrenheit | number:0}}&#8457;</li>
   					<li class="humidity">Humdity: {{day.avehumidity}}%</li>
   					<li class="wind">Wind: {{day.avewind.mph}} mph</li>
   				</ul>
			</div>
		</div>
	</div>
</div>